@font-face {
    font-family: 'Lexend Deca';
    src:
        url("/static/fonts/LexendDecaRegular.ttf")
}

body { 
background-color: #030613;
font-family: "Lexend Deca";
margin:0;
color: white
}
  
/*.bar {
    display: flex;
    justify-content: space-between;
    background-color: #213C53;
    height: 4vw;
}*/

header {
    background-color:rgb(10, 25, 40, 0.5);
    text-align: left;
    position: fixed;
    width: 100vw;  
    top: 0;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 1vw;
}

h1, h2, h3, h4, p, a
{
    color: #E2F1F5;
}

.box {
    width: auto;
    margin: 3vw 2vw 0 2vw;
    background-color: #213C53;
    border-radius: 2vw;
    padding: 2.5vw;
    display: flex;
    justify-content: space-between;
}   

.boxtext {
    margin-left: 0;
    width: 67.4vw;
}

.topbox {
    margin-top: 10vw;
}

.bottombox {
    margin-bottom: 3vw;
}

img {
    width: 20vw;
    height: 20vw;   
    border-radius: 1.5vw;
    margin-right: 2vw;
    transition: transform .2s;
}

img {
    width: 20vw;
    height: 20vw;   
    border-radius: 1.5vw;
    margin-right: 2vw;
    transition: transform .2s;
}

#img-1:hover{
    transform: scale(1.1);
}

h1 {
    font-size: 3vw;
}


h3 {
    font-size: 1.5vw;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1.2vw;
}

a{
    text-decoration: none;
}
#home{
    align-self: left;
}

#quote{
    text-align: center;
}